
    body{
      background-color: #FFC433;
    }
    
    h1, h2, h3, h4
    {
        text-align: center;
        font-family: arial;
		font-size: 3.5em;
    }

    hr{
      height: 20px;
      width: 925px;
      background-color: #000;
      border: 0px;
    }

    article img {
      width: 400px;
      height: 250px;
      margin-top: 100px;
      margin-right: 250px;
      margin-left: 180px;
      border-radius: 30px;
      box-shadow:	10px 10px 10px #989898;
      border-radius: 30px;
    }

    aside{
      float: right;
      padding-left: 200px;
      padding-right: 150px;
      font-family: arial;
      font-size: 1.5em;
    }


    #linklList li
    {
      display: inline;
      border-style:none;
      padding-right: 30px;
      padding-left: 35px;
      border-radius: 30px;
      height: 40px;
      width: 35px;

    }

    footer img {
      border-radius: 30px;
      width: 35px;
      height: 40px;
    }

footer img:hover{
  transform: rotate(360deg);
  transition-duration: 2s;
  width: 65px;
  height: 70px;
  box-shadow:	10px 10px 10px #989898;
}
