body
{
    background-color: transparent;
    color: black;
font: 1.4em calibri, arial;
}

table{
margin: 0 auto;
}

select, input, button{
width: 225px;
height: 20px;
}

td
{
  text-align: left;
  height: 30px;
  padding: 5px;
  width:  50px;
}
div
{
text-align: center;
}
h1, h2, h3, h4, select
{
    text-align: center;
}
